<?xml version="1.0"?>
<Configuration>
  <ConnectionSets>
    <ConnectionSet id="all">
      <SimTime t="0">
        <Connection src="C_Tree" dst="Q_Tree" qosCube="1"/>
        <Connection src="T.0_Tree" dst="C_Tree" qosCube="1"/>
        <Connection src="S.0.0_Tree" dst="T.0_Tree" qosCube="1"/>
        <Connection src="S.0.1_Tree" dst="T.0_Tree" qosCube="1"/>
        <Connection src="S.0.2_Tree" dst="T.0_Tree" qosCube="1"/>
        <Connection src="S.0.3_Tree" dst="T.0_Tree" qosCube="1"/>
        <Connection src="R.0.0_Tree" dst="Q_Tree" qosCube="1"/>
        <Connection src="R.0.1_Tree" dst="Q_Tree" qosCube="1"/>
        <Connection src="R.0.2_Tree" dst="Q_Tree" qosCube="1"/>
        <Connection src="R.0.3_Tree" dst="Q_Tree" qosCube="1"/>
      </SimTime>
    </ConnectionSet>
  </ConnectionSets>

  <DA>
    <Directory>
      <APN apn="C_Tree">
        <DIF difName="CQ" ipcAddress="C"/>
        <DIF difName="C0" ipcAddress="C"/>
      </APN>
      <APN apn="Q_Tree">
        <DIF difName="CQ" ipcAddress="Q"/>
        <DIF difName="Q0" ipcAddress="Q"/>
        <DIF difName="Q1" ipcAddress="Q"/>
        <DIF difName="Q2" ipcAddress="Q"/>
        <DIF difName="Q3" ipcAddress="Q"/>
      </APN>
      <APN apn="T.0_Tree">
        <DIF difName="C0" ipcAddress="T0"/>
        <DIF difName="T0" ipcAddress="T0"/>
        <DIF difName="T1" ipcAddress="T0"/>
        <DIF difName="T2" ipcAddress="T0"/>
        <DIF difName="T3" ipcAddress="T0"/>
      </APN>
      <APN apn="S.0.0_Tree">
        <DIF difName="T0" ipcAddress="S0_0"/>
      </APN>
      <APN apn="S.0.1_Tree">
        <DIF difName="T1" ipcAddress="S0_1"/>
      </APN>
      <APN apn="S.0.2_Tree">
        <DIF difName="T2" ipcAddress="S0_2"/>
      </APN>
      <APN apn="S.0.3_Tree">
        <DIF difName="T3" ipcAddress="S0_3"/>
      </APN>
      <APN apn="R.0.0_Tree">
        <DIF difName="Q0" ipcAddress="R0_0"/>
      </APN>
      <APN apn="R.0.1_Tree">
        <DIF difName="Q1" ipcAddress="R0_1"/>
      </APN>
      <APN apn="R.0.2_Tree">
        <DIF difName="Q2" ipcAddress="R0_2"/>
      </APN>
      <APN apn="R.0.3_Tree">
        <DIF difName="Q3" ipcAddress="R0_3"/>
      </APN>
      <APN apn="App_S0_0">
        <DIF difName="Tree" ipcAddress="S.0.0"/>
      </APN>
      <APN apn="App_R0_0">
        <DIF difName="Tree" ipcAddress="R.0.0"/>
      </APN>
      <APN apn="App_S0_1">
        <DIF difName="Tree" ipcAddress="S.0.1"/>
      </APN>
      <APN apn="App_R0_1">
        <DIF difName="Tree" ipcAddress="R.0.1"/>
      </APN>
      <APN apn="App_S0_2">
        <DIF difName="Tree" ipcAddress="S.0.2"/>
      </APN>
      <APN apn="App_R0_2">
        <DIF difName="Tree" ipcAddress="R.0.2"/>
      </APN>
      <APN apn="App_S0_3">
        <DIF difName="Tree" ipcAddress="S.0.3"/>
      </APN>
      <APN apn="App_R0_3">
        <DIF difName="Tree" ipcAddress="R.0.3"/>
      </APN>
    </Directory>
  </DA>
</Configuration>
